:root {
  --primaryBg: #fff;
  --secondaryBg: whitesmoke;
  --themeColor: #fff;
  --primaryText: black;
  --secondaryText: #5a5a5a;
  --primaryLinks: #3f5dff;  
  --secondaryLinks: #3f5dff;
  --shadow: #595659;
}
