:root {
  --primaryBg: #3d3d3d;
  --secondaryBg: #272822;
  --themeColor: #373737;
  --primaryText: white;
  --secondaryText: #afafaf;
  --profileAreaText: white;
  --primaryLinks: #ffc107;  
  --secondaryLinks: #ffc107;
  --shadow: black;
}
