body {
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
  transition: all 0.15s;
  background-color: var(--primaryBg);
  color: var(--primaryText);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.profile-area {
  width: 45%;
  max-width: 450px;
  min-width: 350px;
}
.accordion-area {
  padding-left: 1em;
}
.accordion-title.listpage {
  background-color: var(--primaryBg);
  border: solid 1px var(--primaryLinks);
}
.accordion-title.listpage:hover {
  background-color: var(--secondaryBg);
}
.accordion-title.listpage.active {
  background-color: var(--secondaryBg);
  box-shadow: 0px 0px 3px 1px var(--shadow) !important;
}
.panel {
  max-height: 0;
  transition: 0.3s ease-out;
}
.panel.active.listpage {
  border: solid 1px var(--primaryLinks);
  box-shadow: 0px 0px 3px 1px var(--shadow) !important;
}
@media only screen and (max-width: 600px) {
  .home-page {
    flex-wrap: wrap;
  }
  .profile-area {
    width: 100%;
    max-width: initial;
    min-width: initial;
  }
  .accordion-area {
    margin-top: 1.5em;
    padding-left: 0;
  }
}
.content img {
  width: 100%;
}
pre {
  background-color: var(--secondaryBg);
  padding: 6px 12px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 1px var(--shadow) !important;
}
code {
  color: var(--secondaryText) !important;
  font-family: "Roboto Mono", monospace !important;
  font-size: 1em !important;
}
footer {
  font-size: 0.9em !important;
}
.home-page-footer {
  text-align: center;
}
.regular-footer {
  margin: 10px 0;
  padding-top: 1em;
}
dt {
  font-weight: 400;
}
h1,
h2,
h3,
h4 {
  font-family: "Didact Gothic", sans-serif;
}
a,
a:hover,
.accordion,
.accordion:hover {
  color: var(--primaryLinks);
}
.profile-area a,
.profile-area .accordion:hover,
.social-icons * {
  color: var(--secondaryLinks);
}
.fa-toggle-on,
.fa-toggle-off {
  color: var(--primaryLinks);
}
.skillbar {
  background-color: var(--primaryBg);
  border: solid 1px var(--primaryText);
}
#skill-percent {
  background-color: var(--primaryLinks);
}
.top-h1 {
  font-size: 2.5em;
}
.zoomlink {
  display: block;
  width: 30px;
  height: 30px;
  margin: 3px 6px 3px 6px;
}
.zoomlink:hover {
  cursor: pointer;
  margin: -5px 6px 3px 6px;
}
.skillbar {
  border-radius: 3px;
}
#skill-percent {
  height: 15px;
  transition: all 0.7s;
}
ul.pagination > li > a {
  color: var(--primaryLinks) !important;
  border: solid 1px var(--primaryLinks) !important;
  background-color: var(--secondaryBg) !important;
  font-size: 1.2em;
}
ul.pagination > li > a:hover,
ul.pagination > li.active > a {
  color: var(--primaryBg) !important;
  background-color: var(--primaryLinks) !important;
  border-left: solid 1px var(--secondaryBg) !important;
  border-right: solid 1px var(--secondaryBg) !important;
}
ul.pagination > li.disabled > a {
  color: var(--secondaryText) !important;
  border: solid 1px var(--primaryLinks) !important;
  background-color: var(--primaryBg) !important;
}
blockquote {
  margin-left: 0.5em;
  padding: 0.5em;
  border-left: solid 4px var(--primaryLinks);
  background-color: var(--secondaryBg);
  border-radius: 5px;
}
table {
  border-collapse: collapse;
}
th,
td {
  border: solid 1px var(--primaryLinks);
  padding: 5px;
}
.main-menu > a {
  padding: 2px 4px;
  border: solid 1px var(--primaryLinks);
  margin-right: 1em;
  border-radius: 6px;
  text-decoration: none;
}
.main-menu > a:hover {
  color: var(--primaryBg);
  background-color: var(--primaryLinks);
}
kbd {
  padding: 0.2rem 0.4rem;
  margin: 0 0.2rem;
  font-size: 87.5%;
  color: var(--primaryBg);
  background-color: var(--primaryText);
  border-radius: 0.2rem;
}
