{{ define "main" }} {{ range (.Paginator 10).Pages }}
<div style="border-radius: 5px; margin: 5px 0 20px 0; padding: 5px 5px 10px 5px; background-color: var(--secondaryBg);">
  <small>{{ .Date.Format "1/2/2006" }}</small>
  <h2 class="accordion">
    <span onclick="expandAccordion(this)" style="cursor: pointer;">
      {{ .Title -}}
    </span>
  </h2>
  <div class="panel overflow-hidden">
    <p>{{ .Summary | plainify | truncate 180 }}</p>
    <a class="read-more" href="{{ .Permalink }}">Read More</a>
  </div>
</div>
{{ end }}
<script src="{{ `js/accordion.js` | relURL }}"></script>

{{ end }}
