<footer
  class="{{ if .IsHome }} home-page-footer {{ else }} regular-footer {{ end }}"
>
  {{ if eq .Kind "page" }}
  {{ partial "prevnext" . }}
  {{ end }}
  {{ if eq .Kind "section" }}
  <div style="display: flex; justify-content: center;">
    {{ template "_internal/pagination.html" . }}
  </div>
  {{ end }}
  <div
    {{ if not .IsHome }}
    style="border-top: solid 1px var(--primaryLinks); padding-top: 1em;"
    {{ end }}
  >
    <p style="margin: 5px 0;">{{ .Site.Params.copyright | markdownify }}</p>

    <p
      style="margin: 0
      {{ if not .Site.Params.theme.showAttribute }}
      font-size: 0px;
      {{ end }}"
    >
      <a href="https://github.com/darshanbaral/aafu">
        aafu</a>
      by
      <a href="https://www.darshanbaral.com/">
        darshan
      </a>
    </p>
  </div>
</footer>
