<div style="display: flex; flex-direction: column; font-size: 0.8em;">
  <p style="margin: 2px;">{{ .Date.Format "January 2, 2006" }}</p>
  {{ $params := .Params }} {{ range $name, $value := .Site.Taxonomies }}
  {{ if index $params $name }}
  <p style="margin: 2px;">
    {{ $name | humanize }}: {{ range index $params $name }}
    <a
      href="{{ $name | relURL }}/{{ . | urlize }}"
      title="{{ $name }}"
      style="
        border: solid 1px;
        padding: 0 2px;
        margin: 0 2px;
        border-radius: 3px;
        text-decoration: none;
      "
    >
      {{- . -}}
    </a>
    {{ end }}
  </p>
  {{ end }}
  {{ end }}
</div>
