<div
  style="
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    min-width: 250px;
  "
>
  <h3>
    {{ if .PrevInSection }}
    <a
      href="{{ .PrevInSection.Permalink | relURL }}"
      title="{{ .PrevInSection.Title }}"
    >
      <i style="display: block; width: 25px; transform: rotate(270deg);"
        >{{ partial "icons/chevron" . }}</i
      >
    </a>
    {{ else }}
    <i
      style="
        display: block;
        width: 25px;
        transform: rotate(270deg);
        color: var(--secondaryText);
      "
      >{{ partial "icons/chevron" . }}</i
    >
    {{ end }}
  </h3>
  <h3>
    {{ if .NextInSection }}
    <a
      href="{{ .NextInSection.Permalink | relURL }}"
      title="{{ .NextInSection.Title }}"
    >
      <i style="display: block; width: 25px; transform: rotate(90deg);"
        >{{ partial "icons/chevron" . }}</i
      >
    </a>
    {{ else }}
    <i
      style="
        display: block;
        width: 25px;
        transform: rotate(90deg);
        color: var(--secondaryText);
      "
      >{{ partial "icons/chevron" . }}</i
    >
    {{ end }}
  </h3>
</div>
