{{ define "main" }}
<div
  class="home-page"
  style="display: flex; flex-direction: row; margin: 10px 0;"
>
  <div class="profile-area">
    <div
      style="
        border-radius: 5px;
        padding: 10px 5px;
        box-shadow: -4px -4px 5px 2px var(--shadow);
        background-color: var(--themeColor);
        color: var(--secondaryText);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      {{ partial "profilePhoto" . }}
      {{ partial "infoAndSocial" . }}
      {{ partial "footer" . }}
    </div>
  </div>

  <div class="accordion-area">
    {{ range .Site.Params.showInAccordion }}
    {{ $current := index $.Site.Params .item }}
    <div
      class="accordion"
      onclick="expandAccordion(this)"
      style="cursor: pointer; display: flex;"
    >
      <i style="width: 25px; display: flex; margin-right: 0.3em;">
        {{ partial (print "icons/" $current.icon) . }}
      </i>
      <h2>{{ $current.title -}}</h2>
    </div>
    <div
      class="panel {{ if .expand }} active {{ end }} overflow-hidden"
      {{ if $current.panelid }}
      id="{{ $current.panelid }}"
      {{ end }}
    >
      {{ partial (print "accordion/" .item) $ }}
    </div>
    {{ end }}
    <script>
      const expandAccordion = (elem) => {
        const activePanel = document.querySelector(".panel.active");
        const thisPanel = elem.nextElementSibling;
        if (!thisPanel.classList.contains("active")) {
          activePanel.classList.remove("active");
          activePanel.style.maxHeight = 0;
          thisPanel.classList.add("active");
          thisPanel.style.maxHeight = thisPanel.scrollHeight + "px";
        }
      };
    </script>
  </div>
</div>
{{ end }}
