{{ define "main" }}
<div
  class="home-page"
  style="display: flex; flex-direction: row; margin: 10px 0;"
>
  <div class="profile-area">
    <div
      style="
        border-radius: 5px;
        padding: 10px 5px;
        box-shadow: -4px -4px 5px 2px var(--shadow);
        background-color: var(--themeColor);
        color: var(--secondaryText);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      {{ partial "profilePhoto" . }}
      {{ partial "infoAndSocial" . }}
      {{ partial "footer" . }}
    </div>
  </div>

  <div class="accordion-area">
    {{ range .Site.Params.showInAccordion }}
    <h2 class="accordion {{ if .expand }} active {{ end }}">
      {{ $current := index $.Site.Params .item }}
      <span onclick="expandAccordion(this)" style="cursor: pointer;">
        <i class="{{ $current.icon }}"></i>
        {{ $current.title -}}
      </span>
    </h2>
    <div
      class="panel overflow-hidden"
      {{ if $current.panelid }}
      id="{{ $current.panelid }}"
      {{ end }}
    >
      {{ partial (print "accordion/" .item) $ }}
    </div>
    {{ end }}
    <script src="{{ `js/accordion.js` | relURL }}"></script>
  </div>
</div>
{{ end }}
