<script>
  let skillPanel = document.querySelector("#skill-panel")
    .previousElementSibling;
  skillPanel.addEventListener("click", function () {
    let skillBars = document.querySelectorAll("#skill-percent");
    skillBars.forEach((elem) => {
      elem.style.width = elem.classList[0];
    });
  });
</script>
{{ range.Site.Params.skill.list }}
<code style="display: block; margin: 0.6em 0 0 0;">{{ .skill }}</code>
<div class="skillbar" style="height: 1em;">
  <div id="skill-percent" class="{{ .skillrating }}%" style="width: 0; height: 100%;"></div>
</div>
{{ end }}
